WebContent/wsdl/ActorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.web.learn.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.web.learn.com" xmlns:intf="http://services.web.learn.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.web.learn.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getActorDetails">
    <complexType>
     <sequence>
      <element name="actorId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getActorDetailsResponse">
    <complexType>
     <sequence>
      <element name="getActorDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getActorDetailsResponse">

      <wsdl:part element="impl:getActorDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getActorDetailsRequest">

      <wsdl:part element="impl:getActorDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ActorService">

      <wsdl:operation name="getActorDetails">

         <wsdl:input message="impl:getActorDetailsRequest" name="getActorDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getActorDetailsResponse" name="getActorDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ActorServiceSoapBinding" type="impl:ActorService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getActorDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getActorDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getActorDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ActorServiceService">

      <wsdl:port binding="impl:ActorServiceSoapBinding" name="ActorService">

         <wsdlsoap:address location="http://localhost:8080/TestRest/services/ActorService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
