WebContent/wsdl/SoapTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.web.learn.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.web.learn.com" xmlns:intf="http://services.web.learn.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.web.learn.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="someLogic">
    <complexType>
     <sequence>
      <element name="number" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="someLogicResponse">
    <complexType>
     <sequence>
      <element name="someLogicReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="someLogicRequest">

      <wsdl:part element="impl:someLogic" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="someLogicResponse">

      <wsdl:part element="impl:someLogicResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SoapTestService">

      <wsdl:operation name="someLogic">

         <wsdl:input message="impl:someLogicRequest" name="someLogicRequest">

       </wsdl:input>

         <wsdl:output message="impl:someLogicResponse" name="someLogicResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SoapTestServiceSoapBinding" type="impl:SoapTestService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="someLogic">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="someLogicRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="someLogicResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SoapTestServiceService">

      <wsdl:port binding="impl:SoapTestServiceSoapBinding" name="SoapTestService">

         <wsdlsoap:address location="http://localhost:8080/TestRest/services/SoapTestService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
